@model User
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center jumbotron jumbotron-fluid m-5">
    <h4 class="display-4">Please Register into this website</h4>
    
    <form asp-action="Create" asp-controller="Home" method="post">
        <div class="col">
            <span asp-validation-for="FirstName"></span>
            <label asp-for="FirstName"></label>
            <input asp-for="FirstName">
        </div>
        <div class="col">
            <span asp-validation-for="Birthday"></span>
            <label asp-for="Birthday"></label>
            <input asp-for="Birthday">
        </div>
        <div class="col">
            <span asp-validation-for="LastName"></span>
            <label asp-for="LastName"></label>
            <input asp-for="LastName">
        </div>

        <div class="col">
            <span asp-validation-for="Email"></span>
            <label asp-for="Email"></label>
            <input asp-for="Email">
        </div>
         <div class="col">
            <span asp-validation-for="Age"></span>
            <label asp-for="Age"></label>
            <input asp-for="Age">
        </div>

        <div class="col">
        <span asp-validation-for="Password"></span>
        <label asp-for="Password"></label>
        <input asp-for="Password">
        </div>

        <input value="Add User" type="submit">    
    </form>
    </div>

</div>
