.<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-3">Congratulations!</h1>
        <p class="lead">You have successfully made a login form using C#</p>
        <hr class="my-2">
        <p>If you are reading this, you have (probably) learned how to use System.ComponentModel.DataAnnotations as to validate your form data.</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="/" role="button">Return to login</a>
        </p>
    </div>
</div>
